<div class="container">
<div class="row">
    <div class="col-md-12 text-center" id="top-bar">
        <img src="/assets/images/burger_img.jpg" alt="burger" />
        <h1> Eat-Da-Burger! </h1>
    </div>
<div class="col-md-4 text center">
    <form class="devour-form button-size">
        <input input  type="hidden" class="burger_id" type="text" value={{this.id}}> <br>
        <button type="submit" class="btn btn-info">Devour!</button>
    </form>
</div>